/* start css titok icon */
.fa-tiktok {
    color: #111111;
    filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}
/* end css titok icon */

/* start align header */
#header .head-info .header-content .location{
  top: 40%;
}

#header .head-info .header-content .location .listlocaion li{
    margin-bottom: 10px;
}
/* end align header */

/* start align header */
.section-title {
    margin-bottom: 0;
}
.section-title h2{
  margin-top: revert;
    color: white;
}

#header .head-info .header-content{
    text-align: inherit;
    height: inherit;
  }

.container{
  height: -webkit-fill-available;
  padding-top: initial;
}
#header .head-info{
  height: -webkit-fill-available;
}
/* end align header */


/* https://codepen.io/derekmorash/pen/XddZJY */
/* start custom button */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .5rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: -webkit-fill-available;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
/* end custom button */

/* start custom footer */
#footer .copyright {
  display: inline;
}
/* end custom footer */

img{
  object-fit: cover;
  max-height: 300px;
}